/* This is a demo file and not needed for use */
.wrapper {
    height: 250px;
    background: #ccc;
}

.target-text {
    background: rgba(255, 0, 0, .1);
}

@media screen and (max-width: 1024px) {
    .target-text {
        --fontScalerHeight: 500;
        background: rgba(0, 255, 0, .1);
    }
}

@media screen and (max-width: 720px) {
    .target-text {
        --fontScalerHeight: 100;
        background: rgba(0, 0, 255, .1);
    }
}